body{
	font-family: montserrat,roboto,helvetica neue,Arial,sans-serif;
	height: 100%;
}
hr{
	margin:0 20% 20px 20%;
}

form{
	background-color: #bab6ca;
	width: 210px;
	padding: 10px;
	overflow: hidden;
}

#mainContainer{
	height:100%;
}
#formContainer{
	width: 40%;
	display: inline-block;
	margin-left: 70px;
}

h2{
	color: #033076;
	text-align: center;
	margin-bottom: 3px;
}

#sideBtns{
	width: 30%;
	margin-bottom: 10px;
	margin-right: 5px;
	float: left;
	overflow: auto;
}
#sideBtns button{
	background-color: #0c59cf;
	color: white;
	margin-bottom: 10px;
	width: 120px;
	float: right;
}
#bottomBtns{
	margin-top: 5px;
}
#bottomBtns button{
	color: white;
	background-color: #033076;
}

#bottomBtns button:nth-child(3){
	margin-left: 30px;
	background-color: grey;
}

#menuContainer{
	text-align: center;
	width: 40%;
	margin-right: 70px;
	float: right;
	overflow: auto;
}

#menu{
	background-color: #bab6ca;
	margin:0 10%;
}
#menu button{
	width: 90%;
	text-align: left;
}
#menu button:first-child{
	margin-top: 10px;
}
.wsItem{
padding: 10px auto;
margin-bottom: 5px;
}
.wsItem span {
	margin-left: 50px;
}
.wsItem{
	opacity: 100%;
}

.wsItem:focus{
	/*opacity: 55%;*/
	background-color: #033076;
	color:white;
}